[
  {
    "slug": "mahoniestraat",
    "naam": "Mahoniestraat 15",
    "google_sheet_id": "1X3Zs1bFOU-21EEN1zCLoWqVJ-_2OpPVK4ylj7dDcYus",
    "google_sheet_worksheet": "Mahoniestraat",
    "history_worksheet": "Historie",
    "aanmeldingen_worksheet": "Aanmeldingen",
    "google_drive_folder_id": "",
    "bunq_rekening_iban": "NL81BUNQ2163127125"
  }
]
